$color-primary-100: #d3fbfd;
$color-primary-200: #a8f1fb;
$color-primary-300: #7bdef3;
$color-primary-400: #58c4e7;
$color-primary-500: #26a1d8;
$color-primary-600: #1b7eb9;
$color-primary-700: #135f9b;
$color-primary-800: #0c437d;
$color-primary-900: #073067;
$color-primary-transparent-100: rgba(38, 161, 216, 0.08);
$color-primary-transparent-200: rgba(38, 161, 216, 0.16);
$color-primary-transparent-300: rgba(38, 161, 216, 0.24);
$color-primary-transparent-400: rgba(38, 161, 216, 0.32);
$color-primary-transparent-500: rgba(38, 161, 216, 0.4);
$color-primary-transparent-600: rgba(38, 161, 216, 0.48);
$color-success-100: #f1fccf;
$color-success-200: #dffaa1;
$color-success-300: #c5f270;
$color-success-400: #aae64c;
$color-success-500: #83d617;
$color-success-600: #68b810;
$color-success-700: #4f9a0b;
$color-success-800: #397c07;
$color-success-900: #2a6604;
$color-success-transparent-100: rgba(131, 214, 23, 0.08);
$color-success-transparent-200: rgba(131, 214, 23, 0.16);
$color-success-transparent-300: rgba(131, 214, 23, 0.24);
$color-success-transparent-400: rgba(131, 214, 23, 0.32);
$color-success-transparent-500: rgba(131, 214, 23, 0.4);
$color-success-transparent-600: rgba(131, 214, 23, 0.48);
$color-info-100: #cfecff;
$color-info-200: #9fd5ff;
$color-info-300: #70baff;
$color-info-400: #4ca1ff;
$color-info-500: #1178ff;
$color-info-600: #0c5cdb;
$color-info-700: #0844b7;
$color-info-800: #053093;
$color-info-900: #03217a;
$color-info-transparent-100: rgba(17, 120, 255, 0.08);
$color-info-transparent-200: rgba(17, 120, 255, 0.16);
$color-info-transparent-300: rgba(17, 120, 255, 0.24);
$color-info-transparent-400: rgba(17, 120, 255, 0.32);
$color-info-transparent-500: rgba(17, 120, 255, 0.4);
$color-info-transparent-600: rgba(17, 120, 255, 0.48);
$color-warning-100: #fff4cc;
$color-warning-200: #ffe699;
$color-warning-300: #ffd466;
$color-warning-400: #ffc23f;
$color-warning-500: #ffa500;
$color-warning-600: #db8500;
$color-warning-700: #b76900;
$color-warning-800: #934f00;
$color-warning-900: #7a3d00;
$color-warning-transparent-100: rgba(255, 165, 0, 0.08);
$color-warning-transparent-200: rgba(255, 165, 0, 0.16);
$color-warning-transparent-300: rgba(255, 165, 0, 0.24);
$color-warning-transparent-400: rgba(255, 165, 0, 0.32);
$color-warning-transparent-500: rgba(255, 165, 0, 0.4);
$color-warning-transparent-600: rgba(255, 165, 0, 0.48);
$color-danger-100: #ffe4da;
$color-danger-200: #ffc3b5;
$color-danger-300: #ff9b90;
$color-danger-400: #ff7675;
$color-danger-500: #ff4756;
$color-danger-600: #db3350;
$color-danger-700: #b7234a;
$color-danger-800: #931642;
$color-danger-900: #7a0d3d;
$color-danger-transparent-100: rgba(255, 71, 86, 0.08);
$color-danger-transparent-200: rgba(255, 71, 86, 0.16);
$color-danger-transparent-300: rgba(255, 71, 86, 0.24);
$color-danger-transparent-400: rgba(255, 71, 86, 0.32);
$color-danger-transparent-500: rgba(255, 71, 86, 0.4);
$color-danger-transparent-600: rgba(255, 71, 86, 0.48);
